/* global css */
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500');

:root {
  --theme-color: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  --white: white;
  --orange: orange;
  --red: red;
  --teal: teal;
  --green: #20bf55;
  --border-radius: 15px;
  --shadow: 0 .13rem .23rem rgba(145, 145, 145, 0.295);
  --shadow-top: 0 -.125rem .25rem rgba(145, 145, 145, 0.295);
  --linear-gradient: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  --clip-path: polygon(100% 0, 100% 53%, 20% 100%, 0 100%, 0 0);
  --border-radius: .3rem;
}


/* my custom font */

@font-face {
  font-family: 'property-pro';
  src:  url('../fonts/property-pro.eot?gmn0mk');
  src:  url('../fonts/property-pro.eot?gmn0mk#iefix') format('embedded-opentype'),
    url('../fonts/property-pro.ttf?gmn0mk') format('truetype'),
    url('../fonts/property-pro.woff?gmn0mk') format('woff'),
    url('../fonts/property-pro.svg?gmn0mk#property-pro') format('svg');
  font-weight: normal;
  font-style: normal;
}

img,.card{
  transition: .4s ease all;
}
html {
  font-family: 'Barlow', sans-serif;
}

#bg {
  width: 110%;
  height: 110%;
  clip-path: var(--clip-path);
  position: absolute;
  background: var(--linear-gradient);
  margin: -1rem;
  z-index: -10;
}

.bg {
  position: fixed !important;
  clip-path: polygon(100% 0, 100% 23%, 80% 35%, 0 21%, 0 0) !important;
}

.bg-user {
  position: fixed !important;
  clip-path: polygon(100% 0, 100% 49%, 78% 69%, 0 45%, 0 0) !important;
}

.bg-img {
  width: 42%;
  position: absolute;
  margin-top: 4rem;
}

body {
  overflow-x: hidden;
  background: #ecf4fc;
}

a {
  text-decoration: none;
  color: rgb(70, 68, 68);
}

li {
  list-style: none;
}

.navbar {
  width: 10.5rem;
  margin-top: 5.5rem;
  font-size: 15px;
  height: calc(100vh - 3rem);
}
.footer-related{
  width: 100%;
  white-space: nowrap;
}
.footer-img{
  width: 23% !important;
  margin:2px;
  border-radius: 10px;
}

.logo a {
  font-size: 25px;
  color: var(--white);
  font-weight: bolder;
}

main {
  display: flex;
}

nav {
  height: 3rem;
  /* background: #fbfbfb33; */
}

.page-container {
  margin-top: 4rem;
  margin-left: 12rem;
  margin-right: 1rem;
}

.container {
  margin-top: 6rem !important;
  margin: 1rem;
}

footer {
  text-align: center;
  margin-left: -.5rem;
  margin-bottom: -.5rem;
  height: 1rem;
  bottom: 0;
  position: fixed;
}

.mobile-view {
  display: none;
}

.drop-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  padding: 1.5rem;
  margin-top: 3.5rem;
  border-radius: 1rem;
  white-space: nowrap;
  margin-left: -2rem;
}

.border-radius {
  border-radius: var(--border-radius);
}


/* ======================[ pages ]====================== */

.landing {
  margin-top: 10%;
}

.landing .left-side {
  width: 60%;
}

.landing .right-side {
  width: 40%;
}

.form-input {
  border: none;
  margin-top: 1rem;
  display: block;
  width: 100%;
  padding: .375rem 0;
  font-size: .96rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-bottom: 1px solid #bdc3c7;
  font-family: 'Roboto', sans-serif;
}

select:focus,
input:focus {
  outline-style: none;
  box-shadow: 0 1px 0 var(--theme-color);
  border-top: transparent;
  transition: 200ms;
}

[type="checkbox"] {
  width: 5%;
}

.align-center {
  text-align: center;
}

.card-wrapper{
  display: flex;
  flex-wrap: wrap;
}

/* ========================[ media queries ]=====================*/


/*  Small devices*/

@media (max-width: 576px) {
  .card-wrapper {
      flex-wrap: wrap;
  }
  .card {
    width: 41.66% !important;
  }
}

.detail-img {
  width: 40%;
}

.detail-img img {
  width: 100%;
}

.prdt-dtls {
  width: 60%;
}

.prdt-dtls p {
  letter-spacing: .1px;
  word-spacing: .1rem;
}


/* Medium devices */

@media (max-width: 992px) {
  .detail-img {
      width: 100%;
  }
  .sm-100 {
      width: 100% !important;
  }
  .form-grp {
      flex-direction: column;
  }
  .product {
      flex-direction: column;
  }
  .prdt-dtls {
      width: 100%;
  }
  .detail-img img {
      width: 100%;
  }
  .navbar {
      width: 100%;
      height: 0rem;
      position: absolute;
      background: white;
      overflow: auto;
  }
  .card-wrapper {
      flex-wrap: wrap;
  }
  .stat-card {
      width: 40%;
  }
  nav {
      background: var(--theme-color);
  }
  .logo a {
      font-size: 25px;
      color: var(--white);
  }
  .landing .right-side{
      display: none;
  }
  .landing .left-side {
      margin-top: 3rem;
      width: 100%;
  }
  .landing .right-side {
    margin-top: 3rem;
    width: 100%;
}
  .drop-content {
      padding: 1.5rem;
      margin-top: 3.5rem;
      margin-left: -9rem;
  }
  .page-container {
      margin: 5rem 1rem;
  }
  .navbar.toggle-class {
      height: auto;
  }
  .mobile-view,
  .login .mobile-view {
      display: inline !important;
      font-size: 16px;
  }
  .docum {
      display: none;
  }
  button .humberger {
      font-size: 1.5rem;
  }
  .accord {
      display: none;
  }
  .collapsible {
      cursor: pointer;
  }
  .collapsible.active {
      box-shadow: var(--shadow);
      padding-left: 1rem;
      margin-left: -1.5rem;
  }
  li span {
      font-size: 12px;
      color: #6e6969;
  }
  .label {
      position: inherit !important;
  }
  #avatar span,
  .logo a span {
      display: none;
  }
}


/* ========================[ colors ]=====================*/

.white {
  background: var(--white) !important;
}

.white-txt {
  color: var(--white) !important;
}

.blue {
  background: var(--theme-color) !important;
}

.blue-txt {
  color: var(--theme-color) !important;
}

.teal {
  background: var(--teal) !important;
}

.teal-txt {
  color: var(--teal) !important;
}

.orange {
  background: var(--orange) !important;
}

.orange-txt {
  color: var(--orange) !important;
}

.red {
  background: var(--red) !important;
}

.red-txt {
  color: var(--red) !important;
}

.green {
  background: var(--green) !important;
}


/* faint colors */

.f-red {
  background: #f8d7da !important;
  color: #fc2032 !important;
}

.f-orange {
  color: orange !important;
  background: #fff3cd !important;
}

.f-blue {
  color: var(--theme-color) !important;
  background: #cce5ff !important;
}

.f-blue {
  color: var(--theme-color) !important;
  background: #cce5ff !important;
}

.f-green {
  color: #019b03 !important;
  background: #08cc3b66 !important;
}


/* ========================[ componets ]=====================*/

.badge {
  padding: .5rem;
  background: #c2c2c2;
  color: #fff;
}

.value-holder {
  padding: 1px 20px;
  height: 45px;
  line-height: 2.5;
  font-size: 19px;
  font-weight: bolder;
  text-align: center;
  border-radius: var(--border-radius)
}

.btn {
  padding: 7px 13px !important;
  border: none;
  background: transparent;
  border-radius: .2rem;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
  color: #ffffff;
  white-space: nowrap;
}

.btn-gradient {
  background: var(--linear-gradient);
}

.btn-sm {
  padding: 7px 13px !important;
  font-size: 15px;
  line-height: 1.5;
}

.btn-lg {
  padding: 10px 25px !important;
  text-transform: uppercase;
}

#avatar span,
.btn.mobile-view {
  color: rgb(68, 68, 68);
}

.btn:hover {
  box-shadow: var(--shadow);
}

.small-btn {
  font-size: 11px !important;
  padding: 2px 10px !important;
  border-radius: 3px;
  font-weight: normal;
}

.pin-btn {
  font-size: 12px !important;
  padding: 5px 10px !important;
  font-weight: normal;
  border-radius: 0px;
}

.label {
  margin-top: -1.5rem;
  position: absolute;
  background: var(--theme-color);
  border-radius: 10px;
  padding: 1px 10px;
  color: white;
  margin-left: 10px;
}


/* table styles */
table {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font: 16px Arimo, Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 8px 10px 10px;
  border-bottom: #b2b2b2 1px solid;
}
td:first-child,th:first-child{
  text-align: left;
}
th {
  background: #999;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
}  
@media only screen and (max-width: 47.9375em) {
  .responsive-tables table,
  .responsive-tables thead,
  .responsive-tables tbody,
  .responsive-tables th,
  .responsive-tables td,
  .responsive-tables tr {
      display: block;
  }
  .responsive-tables thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
  .responsive-tables tr:not(.section) {
      border: 1px solid #bbb;
      border-radius: 3px;
  }
  .responsive-tables td {
      border: none;
      position: relative;
      padding-left: 50%;
      padding-bottom: 10px;
      white-space: normal;
      text-align: right;
  }
  .responsive-tables td:before {
      position: absolute;
      top: 8px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
  }
  .responsive-tables .section td {
      text-align: center;
      color: white;
  }
  .responsive-tables td:before {
      content: attr(data-title);
      white-space: normal;
      letter-spacing: -0.5px;
      color: var(--teal);
      float: left;
  }

  .responsive-tables tr.section td {
      padding: 10px;
  }
  .responsive-tables .main-group {
      margin-bottom: 10px;
  }
  .responsive-tables .main-group td:nth-child(odd):not(.subheading),
  .responsive-tables .main-group td:last-child {
      border-top: #ddd 1px solid;
      border-bottom: #ddd 1px solid;
  }
  .responsive-tables tbody .section + .main-group {
      border-radius: 0 0 3px 3px;
  }
  .responsive-tables .subheading {
      padding: 10px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.5px;
      background: rgba(0, 0, 0, 0.1);
      color: black;
      box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
      border-top: none;
  }
  .responsive-tables .basic-description {
      padding: 10px;
      text-align: center;
  }
  .responsive-tables .highlight {
      background: none;
  }
  .responsive-tables .downplay,
  .responsive-tables .downplay:before {
      color: #999;
      font-weight: normal;
      font-size: 12px;
  }
}


/*==================== utility classes ==================*/

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.float-right {
  float: right;
}


/* ========================[ flex ]=====================*/

.d-flex {
  display: flex;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-x {
  display: flex;
  flex-direction: row;
}

.flex-x-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-y-start {
  display: flex;
  align-items: flex-start;
}

.flex-y-center {
  display: flex;
  align-items: flex-start;
}

.flex-y-end {
  display: flex;
  align-content: flex-end;
}

.flex-strech {
  display: flex;
  align-items: stretch;
}

.justify-btn {
  display: flex;
  justify-content: space-between !important;
}

.justify-around {
  display: flex;
  justify-content: space-around !important;
}


/*====================== spacing classes ================================*/


/* margins */

.margin-r-auto {
  margin-right: auto;
}

.margin-l-auto {
  margin-left: auto;
}

.margin-l-0,
.margin-x-0,
.margin-0 {
  margin-left: 0rem;
}

.margin-l-1,
.margin-x-1,
.margin-1 {
  margin-left: .25rem;
}

.margin-l-2,
.margin-x-2,
.margin-2 {
  margin-left: .5rem;
}

.margin-l-3,
.margin-x-3,
.margin-3 {
  margin-left: 1rem;
}

.margin-l-4,
.margin-x-4,
.margin-4 {
  margin-left: 1.5rem;
}

.margin-l-5,
.margin-x-5,
.margin-5 {
  margin-left: 2.5rem;
}

.margin-l-6,
.margin-x-6,
.margin-6 {
  margin-left: 3rem;
}


/* negative values */

.margin-l-n1,
.margin-x-n1,
.margin-n1 {
  margin-left: -.25rem;
}

.margin-l-n2,
.margin-x-n2,
.margin-n2 {
  margin-left: -.5rem;
}

.margin-l-n3,
.margin-x-n3,
.margin-n3 {
  margin-left: -1rem;
}

.margin-l-n4,
.margin-x-n4,
.margin-n4 {
  margin-left: -1.5rem;
}

.margin-l-n5,
.margin-x-n5,
.margin-n5 {
  margin-left: -2.5rem;
}

.margin-l-n6,
.margin-x-n6,
.margin-n6 {
  margin-left: -3rem;
}


/* margin-right */

.margin-r-0,
.margin-x-0 {
  margin-right: 0rem;
}

.margin-r-1,
.margin-x-1,
.margin-1 {
  margin-right: .25rem;
}

.margin-r-2,
.margin-x-2,
.margin-2 {
  margin-right: .5rem;
}

.margin-r-3,
.margin-x-3,
.margin-3 {
  margin-right: 1rem;
}

.margin-r-4,
.margin-x-4,
.margin-4 {
  margin-right: 1.5rem;
}

.margin-r-5,
.margin-x-5,
.margin-5 {
  margin-right: 2.5rem;
}

.margin-r-6,
.margin-x-6,
.margin-6 {
  margin-right: 3rem;
}


/* negative values */

.margin-r-n1,
.margin-x-n1,
.margin-n1 {
  margin-right: -.25rem;
}

.margin-r-n2,
.margin-x-n2,
.margin-n2 {
  margin-right: -.5rem;
}

.margin-r-n3,
.margin-x-n3,
.margin-n3 {
  margin-right: -1rem;
}

.margin-r-n4,
.margin-x-n4,
.margin-n4 {
  margin-right: -1.5rem;
}

.margin-r-n5,
.margin-x-n5,
.margin-n5 {
  margin-right: -2.5rem;
}

.margin-r-n6,
.margin-x-n6,
.margin-n6 {
  margin-right: -3rem;
}


/* margin-top */

.margin-t-0,
.margin-y-0,
.margin-0 {
  margin-top: 0rem;
}

.margin-t-1,
.margin-y-1,
.margin-1 {
  margin-top: .25rem;
}

.margin-t-2,
.margin-y-2,
.margin-2 {
  margin-top: .5rem;
}

.margin-t-3,
.margin-y-3,
.margin-3 {
  margin-top: 1rem;
}

.margin-t-4,
.margin-y-4,
.margin-4 {
  margin-top: 1.5rem;
}

.margin-t-5,
.margin-y-5,
.margin-5 {
  margin-top: 2.5rem !important;
}

.margin-t-6,
.margin-y-6,
.margin-6 {
  margin-top: 3rem;
}


/* negative values */

.margin-t-n1,
.margin-y-n1,
.margin-n1 {
  margin-top: -.25rem;
}

.margin-t-n2,
.margin-y-n2,
.margin-n2 {
  margin-top: -.5rem;
}

.margin-t-n3,
.margin-y-n3,
.margin-n3 {
  margin-top: -1rem;
}

.margin-t-n4,
.margin-y-n4,
.margin-n4 {
  margin-top: -1.5rem;
}

.margin-t-n5,
.margin-y-n5,
.margin-n5 {
  margin-top: -2.5rem;
}

.margin-t-n6,
.margin-y-n6,
.margin-n6 {
  margin-top: -3rem;
}

.margin-t-max {
  margin-top: 4.5rem;
}


/* margin-bottom */

.margin-b-0,
.margin-y-0,
.margin-0 {
  margin-bottom: 0rem;
}

.margin-b-1,
.margin-y-1,
.margin-1 {
  margin-bottom: .25rem;
}

.margin-b-2,
.margin-y-2,
.margin-2 {
  margin-bottom: .5rem;
}

.margin-b-3,
.margin-y-3,
.margin-3 {
  margin-bottom: 1rem;
}

.margin-b-4,
.margin-y-4,
.margin-4 {
  margin-bottom: 1.5rem;
}

.margin-b-5,
.margin-y-5,
.margin-5 {
  margin-bottom: 2.5rem;
}

.margin-b-6,
.margin-y-6,
.margin-6 {
  margin-bottom: 3rem;
}


/* negative values */

.margin-b-n1,
.margin-y-n1,
.margin-n6 {
  margin-bottom: -.25rem;
}

.margin-b-n2,
.margin-y-n2,
.margin-n2 {
  margin-bottom: -.5rem;
}

.margin-b-n3,
.margin-y-n3,
.margin-n3 {
  margin-bottom: -1rem;
}

.margin-b-n4,
.margin-y-n4,
.margin-n4 {
  margin-bottom: -1.5rem;
}

.margin-b-n5,
.margin-y-n5,
.margin-n5 {
  margin-bottom: -2.5rem;
}

.margin-b-n6,
.margin-y-n6,
.margin-n6 {
  margin-bottom: -3rem;
}


/* padding */
.padding-0 {
  padding: 0 !important;
}
.padding-l-0,
.padding-x-0,
.padding-0 {
  padding-left: 0rem;
}

.padding-l-1,
.padding-x-2,
.padding-1 {
  padding-left: .25rem;
}

.padding-l-2,
.padding-x-2,
.padding-2 {
  padding-left: .5rem;
}

.padding-l-3,
.padding-x-3,
.padding-3 {
  padding-left: 1rem;
}

.padding-l-4,
.padding-x-4,
.padding-4 {
  padding-left: 1.5rem;
}

.padding-l-5,
.padding-x-5,
.padding-5 {
  padding-left: 2.5rem;
}

.padding-l-6,
.padding-x-6,
.padding-6 {
  padding-left: 3rem;
}


/* negative values */

.padding-l-1,
.padding-x-1,
.padding-n1 {
  padding-left: -.25rem;
}

.padding-l-2,
.padding-x-2,
.padding-n2 {
  padding-left: -.5rem;
}

.padding-l-3,
.padding-x-3,
.padding-n3 {
  padding-left: -1rem;
}

.padding-l-4,
.padding-x-4,
.padding-n4 {
  padding-left: -1.5rem;
}

.padding-l-5,
.padding-x-5,
.padding-n5 {
  padding-left: -2.5rem;
}

.padding-l-6,
.padding-x-6,
.padding-n6 {
  padding-left: -3rem;
}


/* padding-right */

.padding-r-0,
.padding-x-0,
.padding-1 {
  padding-right: 0rem;
}

.padding-r-1,
.padding-x-1,
.padding-2 {
  padding-right: .25rem;
}

.padding-r-2,
.padding-x-2,
.padding-2 {
  padding-right: .5rem;
}

.padding-r-3,
.padding-x-3,
.padding-3 {
  padding-right: 1rem;
}

.padding-r-4,
.padding-x-4,
.padding-4 {
  padding-right: 1.5rem;
}

.padding-r-5,
.padding-x-5,
.padding-5 {
  padding-right: 2.5rem;
}

.padding-r-6,
.padding-x-6,
.padding-6 {
  padding-right: 3rem;
}


/* negative values */

.padding-r-n1,
.padding-x-n1,
.padding-n1 {
  padding-right: -.25rem;
}

.padding-r-n2,
.padding-x-n2,
.padding-n2 {
  padding-right: -.5rem;
}

.padding-r-n3,
.padding-x-n3,
.padding-n3 {
  padding-right: -1rem;
}

.padding-r-n4,
.padding-x-n4,
.padding-n4 {
  padding-right: -1.5rem;
}

.padding-r-n5,
.padding-x-n5,
.padding-n5 {
  padding-right: -2.5rem;
}

.padding-r-n6,
.padding-x-n6,
.padding-n6 {
  padding-right: -3rem;
}


/* padding-top */

.padding-t-0,
.padding-y-0,
.padding-0 {
  padding-top: 0rem;
}

.padding-t-1,
.padding-y-1,
.padding-1 {
  padding-top: .25rem;
}

.padding-t-2,
.padding-y-2,
.padding-2 {
  padding-top: .5rem;
}

.padding-t-3,
.padding-y-3,
.padding-3 {
  padding-top: 1rem;
}

.padding-t-4,
.padding-y-4,
.padding-4 {
  padding-top: 1.5rem;
}

.padding-t-5,
.padding-y-5,
.padding-5 {
  padding-top: 2.5rem;
}

.padding-t-6,
.padding-y-6,
.padding-6 {
  padding-top: 3rem;
}


/* negative values */

.padding-t-n1,
.padding-y-n1,
.padding-n1 {
  padding-top: -.25rem;
}

.padding-t-n2,
.padding-y-n2,
.padding-n2 {
  padding-top: -.5rem;
}

.padding-t-n3,
.padding-y-n3,
.padding-n3 {
  padding-top: -1rem;
}

.padding-t-n4,
.padding-y-n4,
.padding-n4 {
  padding-top: -1.5rem;
}

.padding-t-n5,
.padding-y-n5,
.padding-n5 {
  padding-top: -2.5rem;
}

.padding-t-n6,
.padding-y-n6,
.padding-n6 {
  padding-top: -3rem;
}


/* padding-bottom */

.padding-b-0,
.padding-y-n0,
.padding-0 {
  padding-bottom: 0rem;
}

.padding-b-1,
.padding-y-1,
.padding-1 {
  padding-bottom: .25rem;
}

.padding-b-2,
.padding-y-2,
.padding-2 {
  padding-bottom: .5rem;
}

.padding-b-3,
.padding-y-3,
.padding-3 {
  padding-bottom: 1rem;
}

.padding-b-4,
.padding-y-4,
.padding-4 {
  padding-bottom: 1.5rem;
}

.padding-b-5,
.padding-y-5,
.padding-5 {
  padding-bottom: 2.5rem;
}

.padding-b-6,
.padding-y-6,
.padding-6 {
  padding-bottom: 3rem;
}


/* negative values */

.padding-b-n1,
.padding-y-n1,
.padding-n1 {
  padding-bottom: -.25rem;
}

.padding-b-n2,
.padding-y-n2,
.padding-n2 {
  padding-bottom: -.5rem;
}

.padding-b-n3,
.padding-y-n3,
.padding-n3 {
  padding-bottom: -1rem;
}

.padding-b-n4,
.padding-y-n4,
.padding-n4 {
  padding-bottom: -1.5rem;
}

.padding-b-n5,
.padding-y-n5,
.padding-n5 {
  padding-bottom: -2.5rem;
}

.padding-b-n6,
.padding-y-n6,
.padding-n6 {
  padding-bottom: -3rem;
}


/* positions */

.padding-fixed {
  position: fixed;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.fixed-left {
  position: fixed;
  left: 0;
}

.position-absolute {
  position: absolute;
}


/* shadows */

.shadow {
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.shadow-top {
  -webkit-box-shadow: var(--shadow-top);
  box-shadow: var(--shadow-top);
}

.circle {
  border-radius: 100%
}

.d-none {
  display: none;
}

.sport-badge {
  min-width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}


/* modal style */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  will-change: transform, opacity;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-container.visible {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal {
  position: relative;
  height: auto;
  padding: 0 30px;
  opacity: 1;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: white;
  width: 70%;
  max-width: 300px;
}

.modal:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.close-modal {
  top: -10px;
  right: -10px;
  position: absolute;
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  border: solid 1px gainsboro;
  cursor: pointer;
}

.ad-img {
  width: 4.5rem;
  height: 3.5rem;
  border-radius: .5rem;
}

.product h2 {
  display: block;
  font-size: 1.5em;
  margin: 2px;
}


/* my icons */
i {
  font-family: 'property-pro' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash-pro-lite:before {
  content: "\e900";
}
.icon-pencil-pro-lite:before {
  content: "\e905";
}
.icon-images-pro-lite:before {
  content: "\e90e";
}
.icon-file-picture-pro-lite:before {
  content: "\e927";
}
.icon-ticket-pro-lite:before {
  content: "\e939";
}
.icon-cart-pro-lite:before {
  content: "\e93a";
}
.icon-phone-pro-lite:before {
  content: "\e942";
}
.icon-location-pro-lite:before {
  content: "\e947";
}
.icon-compass-pro-lite:before {
  content: "\e949";
}
.icon-bell-pro-lite:before {
  content: "\e951";
}
.icon-bubbles3-pro-lite:before {
  content: "\e96f";
}
.icon-user-pro-lite:before {
  content: "\e971";
}
.icon-lock-pro-lite:before {
  content: "\e98f";
}
.icon-bin-pro-lite:before {
  content: "\e9ac";
}
.icon-bin2-pro-lite:before {
  content: "\e9ad";
}
.icon-switch-pro-lite:before {
  content: "\e9b6";
}
.icon-list2-pro-lite:before {
  content: "\e9bb";
}
.icon-plus-pro-lite:before {
  content: "\ea0a";
}
.icon-checkmark-pro-lite:before {
  content: "\ea10";
}
/* google map style */

#map {
  height: 200px;
  width: 100%;
}
.map-user{
  height: 240px !important;
}


/* responsive column */

.lg-50 {
  width: 48%
}

.form-grp {
  display: flex;
  width: 100%;
}

/* confirm model */
.modal-btn {
  width: 50%;
  border-left: 1px solid #dddddd;
}
.modal-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding: 5px 0;
}
.footer-btn {
  text-align: center;
  border-top: 1px solid #dddddd;
  height: 44px;
}

/* product card */
.card {
  transition: 0.3s;
  width: 23%;
  min-width: 200px;
  border: solid 1px rgb(238, 237, 237);
  margin: 10px;
  box-shadow: var(--shadow);
  border-radius:var(--border-radius);
  overflow: hidden;
  background: white;
}
.card-img{
  width: 100%;
  height: 12rem;
}
.card .btn{
  border: solid 1px gainsboro;
  line-height: 1.5;
}
.price{
  padding: 5px 15px;
  background: var(--teal);
  border-radius:0 0 0 1rem;
  color: white;
}

.card .card-footer{
  box-shadow: var(--shadow-top);
  padding:10px;
}

/* bg image */
.overflow-hide{
  overflow: hidden;
}

/* image upload */

    .img-upload-preview {
      margin-top: 5px;
      padding: 10px;
      display: flex;
    }
    .previewImage {
      padding: 5px;
      height: auto;
    }
    .previewImage i {
      width: 24px;
      height: 24px;
      position: relative;
      right: 20px;
      top: -4px;
      float: left;
      border: 2px solid gainsboro;
      background: white;
      padding: 2px;
      color: #f30404;
      border-radius: 50%;
      cursor: pointer;
      transition: color .3s ease, border .3s ease;
      text-align: center;
      line-height: 1.4;
  }

    .previewImage img {
      width: 70px;
      height: 70px;
      float: left;
      border-radius: 5px;
  }
    .photo-file-detail {
      background: #819d97;
      padding: 7px;
      color: #ffffff;
      border-bottom: 1px solid #fff;
      font-size: 16px;
      text-transform: capitalize;
    }
     
    .active{
      border-bottom: solid 4px;
      padding: 5px;
      font-weight: bold;
    }
    .sm-font{
        font-size: 13px;
    }